$primary-color: #ffffff;
$background-color: #8babd8;

$message-left-color: #ffffff;
$message-right-color: #78e378;

$name-color: #011627;
$status-color: #707991;

$border-color: #d9dce0;

$font-family: "Inter", sans-serif;
